<p id="notice">
  <%= notice %>
</p>

<h1 class="ui header">Pokemon</h1>
  <%= link_to 'Add Pokemon', new_person_path %>
  <div class="ui divider"></div>

  <div class="ui grid">
    <% @people.each do |person| %>
      <div class="sixteen wide mobile eight wide tablet four wide computer column">
        <div class="ui card">
          <div class="ui medium image">
            <img  src="<%= person.avatar %>" />
          </div>
          <div class="content">
            <%= link_to "#{person.first_name}", person, class: "header" %>
          </div>
          <div class="extra content">
            <div class="ui two buttons">
              <div class="ui green button">
                <%= link_to 'Edit', edit_person_path(person) %>
              </div>
              <div class="ui basic red button">
                <%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you Sure?' } %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
  </div>

